body {
    background-color: $white;
}

#main {
    height: 100vh;
    margin: 0 auto; 
    position:relative;  
    overflow: hidden;
}

#overlaySlogan{
    position:absolute;
    top: 0; 
    left: 0;
    bottom: 0; 
    right: 0; 
    background: {
        color: #000000ad;
    }
}