
@keyframes textShrink{
    from{
        transform:  scale(314);
        transform-origin: 36%;
    }

    to{
        transform:  scale(1);
        transform-origin: 36%;
    }
}

@keyframes imgShrink{
    from{
        width: 380px; 
    }

    to{
        width: $shrinkImgWidth;
    }
}


@keyframes collaboScale{
    from{
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }

    50%{
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }

    to{
        transform: translate(-50%, -50%) scale(15);
        opacity: 0;
    }
}

@keyframes collaboScaleOverlay{
    from {
        background-color: #0000007d;
    }
    
    50% {
        background-color: #0000007d;
    }

    to{
        background-color: #00000000;
    }
}

@keyframes pageChangeEffect{
    from {
        left: 100%;
    }

    to{
        left: 0%;
    }
}

@keyframes topImg1UP{
    from {
        top: 50%;
        display: block; 
        opacity: 0;
    }

    to{
        top: 30%;
        display: block;
        opacity: 1;
    }
}