@keyframes scaleImage{
    from{
        transform: translate(-50%, -50%) scale(1);
        opacity:1
    }
    30%{
        transform: translate(-50%, -50%) scale(1);
        opacity:1
    }
   
    to{
        transform: translate(-50%, -50%) scale(10);
        opacity:0;
    }
}

@keyframes scaleImage2{
    from{
        opacity:1;
    }
    30%{
        opacity:0;
    }

    to{
        opacity:0;
    }
}