#overlaySlogan{
    > button {
        transition-duration: 200ms;
        width: 87px; height: 87px; 
        outline: none;
        border: 1px solid $white;
        border-radius: 50%;
        cursor: pointer;
        background: {
            color: transparent;
            image: url("../img/upButton.png");
            repeat: no-repeat;
            size: 35px;
            position: center;
        }
        position: absolute;
        @include transform-center-X;
        bottom: 10%;
        
        > span{
            @include buttonSpanClip;
        }

        &:hover {
            background: {
                position: center 20%;
            }
        }
    }
}