#clothesCategory {
    height: 100vh;
    position: relative;

    > ul {
        text-align: center;
        width: 80%;
        position: absolute;
        @include transform-center;

        > li {
            height: $ClothLetterLine;
            border-top: $blackLIne;
            > a {
                @include ALinkOptionDefualt;

                > span {
                    margin-left: 0%;
                    transition-duration: 200ms;
                }
            } 

            > img {
                position:absolute;
            }
        }
        > li:nth-of-type(1) {
            > img {display:none;}
            > img:nth-of-type(1){ 
                top: 30%;
                right: 30%;
            }
            > img:nth-of-type(2){ 
                top: -20%;
                right: 10%;
            }
        }
        > li:nth-of-type(2) {
            > img {display:none;}
            > img:nth-of-type(1){ 
                top: -14%;
                right: 30%;
            }
            > img:nth-of-type(2){ 
                top: 60%;
                right: 10%;
            }
        }
        > li:nth-of-type(3) {
            > img {display:none;}
            > img:nth-of-type(1){ 
                top: -15%;
                right: 37%;
            }
            > img:nth-of-type(2){ 
                top: 45%;
                right: 24%;
            }
        }
        > li:last-of-type {
            border-bottom: $blackLIne;
            > img {display:none;}
            > img:nth-of-type(1){ 
                top: 50%;
                right: 25%;
            }
            > img:nth-of-type(2){ 
                top: 30%;
                right: 3%;
            }
            > img:nth-of-type(3){ 
                top: -15%;
                right: 35%;
            }
        }

        &:hover > li > a > span {
            margin-left: -35%;
        }
    }
}