.changePage {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: $black;
    z-index: 2;
    left: 100%;
    animation: pageChangeEffect 1000ms ease 1;
}

#collaboBrandPage {
    position: absolute;
    z-index: 3;
    left: 100%;
    width: 100vw;
    height: 100vh;
    background-color: $white;
    animation: pageChangeEffect 900ms 0.2s ease 1;
}