#secondPage{
    // & > .logoTitle {
    //     display:none;
    // }

    > h2{
        // display: none;
        position: absolute;
        &:nth-child(1) {
            transition-duration: 600ms;
            //45에서 25
            top: 50%;
            left: 25%;
        }
        &:nth-child(3) {
            transition-duration: 300ms;
            //80에서 58
            top: 85%;
            left: 50%;
        }
    }

    > img {
        transition-duration: 900ms;

        // display: none;
        width: 500px;
        position: absolute;
        //65에서 50
        @include transform-center;
        top: 75%;
    }
}

