#logoWhitePage {
    > img{
        width: 400px;
        position:absolute;
        @include transform-center-Y;
        right: -20%;
        // opacity: 0;
    }
    > img#eightBall {
        width: 200px;
        right: -11%;
    }

    // 전부 안보이는 상태에서
    & > div.logoDetail,
    & > img{
        display: none;
    }

    // on 클래스를 부여 받아야지 보인다. 
    & > div.logoDetail.on,
    & > .on{
        display: block;
    }
}

.logoDetail {
    position: absolute;
    @include transform-center-Y;
    right: 23%;

    > h2{
        margin-bottom: 50px; 
    }

    > div{
        display: flex;
        justify-content: space-between;
        width: 600px;
    }

    .logoTextLeft{
        flex-basis: 200px;
        justify-content: space-between;
        display: flex;
        > span {
            position: relative;
        }

        > span:nth-child(1)::after{
            content: "";
            position: absolute;
            height: 2px; 
            width: 100px; 
            background-color: $black;
            left: 33px; 
            top: 8px; 
        }
        
        > span:nth-child(2){
            margin-right: 30px; 
        }
    }

    .logoTextRight {
        flex-grow: 1;
        
        > p {
            margin-bottom: 20px; 
        }

        > a {
            display: block;
            transition-duration: 400ms;
            padding: 10px 20px 10px 0; 
            background: {
                image: url("../img/detailarrowHead.png");
                repeat: no-repeat;
                position: 120px center;
            }

            &:hover {
                background: {
                    position: 150px center;
                }
            }
        }
    }
}