#seasonsLookBook{
    overflow: hidden;
    > ul {
        position: relative;
        @include transform-center-Y;
        display:flex;
        width: 132%;
        justify-content: space-around;
        
        > li {
            
            &.on > a {
                transform:scale(1.1);
                > strong {
                    display: block;
                }
            }

            > a {
                // overflow:hidden;
                display: block;
                position: relative;
                > img {
                    width: 400px;

                }
                > strong {
                    position: absolute;
                    @include transform-center;
                    display: none;
                }
            }
        } 
    }
    > button {
        width: 27%; 
        height: 100%;
        position: absolute;
        @include transform-center-Y;
        transition-duration: 200ms;

        outline: none;
        background: {
            color: transparent;
            repeat: no-repeat;
            size: 100px;
        }
        border: none;
        cursor: pointer;

        &:nth-of-type(1) {
            background: {
                image: url("../img/LeftButton.png");
                position: right center;
            }
            left: 0;
        }
        &:nth-of-type(2) {
            background: {
                image: url("../img/rightButton.png");
                position: left center;
            }
            right: 0;
        }

        &:hover {
            background-size: 110px; 
        }

        > span{
            @include buttonSpanClip;
        }
    }
}