#sensualDesign{
& div:first-of-type > img{
    width: 170px;
}

> #sensualDesignTypo{
    display:flex;
    flex-direction: column;
    justify-content: center;
    > h3 {
        transform:  scale(1);
        transform-origin: 36%;
        animation: textShrink 2s linear 1;
    }
    > p {
        // position: absolute;
        // bottom: 20%;
    }
}
}